@model BookMyShow.Models.LocationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteLocation</title>
</head>
<body>
   @using (Html.BeginForm())
   {
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Location">
                        @Html.DisplayNameFor(locationObj => locationObj.LocqationId)
                    </label>
                    @Html.TextBoxFor(locationObj => locationObj.LocqationId)
                </div>
                <div class="form-group">
                    <label for="Location">
                        @Html.DisplayNameFor(locationObj => locationObj.Location)
                    </label>
                    @Html.TextBoxFor(locationObj => locationObj.Location)
                </div>
                <input type="submit" value="Delete Location" />
                <input type="submit" value="Reset" />

            </div>
        </div>
   }
</body>
</html>
