
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    <table class="table table-bordered table-success">

        <thead class="active">
            <tr>
                <td>Book Name</td>
                <td>Book Price</td>
                <td>Book Author</td>
                <td>Book Publication</td>
                <td align="center" colspan="3">Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            <tr>
                <td>ABCD Book</td>
                <td>100 rs</td>
                <td>XYZ Author</td>
                <td>NB Publication</td>
                <td class=""><input type="button" value="Edit" href="~/Edit" /></td>
                <td><input type="button" value="Update" href="~/Update" /></td>
                <td><input type="button" value="Delete" href="~/Delete" /></td>
            </tr>
            
        </tbody>
    </table>
    }
   