@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Hotel</h1>
<h3>Add</h3>
<form action="javascript:void(0);" method="post" onsubmit="addHolet()">
    <input type="text" id="HotelName" placeholder="HotelName" />
    <input type="text" id="HotelType" placeholder="HotelType" />
    <input type="text" id="Comments" placeholder="Comments" />
    <input type="submit"value="Add"/>
    <input type="button" name="name" value="" onclick="myfunction" />
</form>
